{{#each dogs as |dog|}}
  <div class="card mt-3">
    <div class="card-body">
      <h2 class="card-title">{{dog.name}}</h2>
      <h6 class="card-text">Breed:</h6>
      <h4 class="card-text">
        {{dog.breed}}
      </h4>
      <h6 class="card-text">Age:</h6>
      <h3 class="card-text">
        {{dog.age}}
      </h3>
      <h6 class="card-text">Shelter ID:</h6>
      <p class="card-text">
        {{dog._id}}
      </p>
      <h6 class="card-text">Tricks:</h6>
      <p class="card-text">
        {{#if dog.tricks}}
          {{dog.tricks}}
        {{else}}
          {{dog.name}} doesn't know any tricks yet!
        {{/if}}
      </p>
    </div>
  </div>
{{/each}}
